.profile-sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: max-content;
  /* margin-right: 116px; */
  font-family: "Cabinet Grotesk Bold";
  font-size: 20px;
  line-height: 25px;
}

.profile-sidebar__user-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.profile-sidebar__buttons {
  display: flex;
  flex-direction: column;
}

.profile-sidebar__button {
  border: none;
  background-color: transparent;
  font-family: "Cabinet Grotesk Bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
  margin-bottom: 8px;
  cursor: pointer;
}

.profile-sidebar__image {
  width: 56px;
  height: 56px;
  align-self: start;
  margin-right: 16px;
}

.profile-sidebar__image_missing {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0;
}

.profile-sidebar__name {
  margin: 0;
  padding-top: 16px;
  text-align: center;
}

.profile-sidebar__name-initial {
  margin: 0;
  padding: 0;
  /* line-height: 0; */
  color: rgba(255, 255, 255, 1);
}
