.main__weather {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: rgba(0, 163, 255, 1);
  border: none;
  border-radius: 12px;
}

.main__weather_temp {
  margin: 0;
  padding: 0;
  align-self: center;
  color: white;
  margin: 20px 0 20px 16px;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.main__weather_image {
  /* height: 60px;
  width: 60px; */
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.main__weather_weather-type-clear {
  background-color: rgba(0, 163, 255, 1);
}
.main__weather_weather-type-clouds {
  background-color: rgba(0, 163, 255, 1);
}
.main__weather_weather-type-rain {
  background-color: rgba(108, 166, 199, 1);
}
.main__weather_weather-type-thunderstorm {
  background-color: rgba(108, 166, 199, 1);
}
.main__weather_weather-type-snow {
  background-color: rgba(108, 166, 199, 1);
}
.main__weather_weather-type-fog {
  background-color: rgba(108, 166, 199, 1);
}

.main__weather_image_weather-type-clear {
  content: url("../../../assets/images/sun.svg");
}
.main__weather_image_weather-type-clouds {
  content: url("../../../assets/images/cloudy.svg");
}
.main__weather_image_weather-type-rain {
  content: url("../../../assets/images/rainy.svg");
}
.main__weather_image_weather-type-thunderstorm {
  content: url("../../../assets/images/thunderstorm.svg");
}
.main__weather_image_weather-type-snow {
  content: url("../../../assets/images/snowy.svg");
}
.main__weather_image_weather-type-fog {
  content: url("../../../assets/images/foggy.svg");
}
