.modal__wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 496px;
  background-color: rgba(255, 255, 255, 1);
  padding: 28px 28px 36px 28px;

  border: rgba(0, 0, 0, 0.3) 1px;
  border-radius: 20px;

  font-family: "Cabinet Grotesk Regular";
  line-height: 20px;
  font-size: 16px;
}

.modal__opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.modal__form-title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
}

.modal__header {
  margin-bottom: 12px;
}

.button {
  cursor: pointer;
}

.modal__close-button {
  position: absolute;
  padding: 0;
  right: 28px;
  top: 20px;
  width: 20px;
  height: 20px;
  border: 0;
  background-size: 20px 20px;
  background-image: url("../../assets/images/close-icon.svg");
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  /* display: block; */
  flex-direction: column;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
}

.modal__input {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  padding-bottom: 4px;
  border: none;
  border-bottom: solid black 1px;
  font-size: 16px;
}

.modal__input_radio {
  margin: 0;
  margin-right: 8px;
}

.modal__submit-button {
  color: rgba(255, 255, 255, 1);
  height: 36px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-family: "Cabinet Grotesk Regular";
  line-height: 20px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 1);
  width: max-content;
}

.modal__radio-wrapper {
  margin-bottom: 8px;
}

.modal__radio-wrapper:last-of-type {
  margin-bottom: 32px;
}

.modal__submit-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
