.header {
  position: relative;
  display: flex;
  font-family: "Cabinet Grotesk Bold", "Arial";
  font-size: 20px;
  font-weight: 700;
  justify-content: space-between;
  padding: 0;
  height: 40px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  /* visibility: hidden; */
}

/* .header__wrapper-button {
  position: absolute;
  padding: 16px 8px;
  top: 0;
  right: 0;
  width: 28px;
  height: 12px;
  border: 0;
  background: no-repeat center;
  background-size: 28px 12px;
  background-image: url("../../assets/images/line.svg");
  visibility: hidden;
  cursor: pointer;
} */

.header__button-profile-wrapper {
  visibility: visible;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__add-clothes {
  font-family: "Cabinet Grotesk Bold", "Arial";
  font-size: 20px;
  font-weight: 700;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.header__profile-link {
  text-decoration: none;
}

.header__profile {
  display: flex;
  align-items: center;
}

.header__profile-name {
  margin: 0 0 0 20px;
  text-decoration: none;
}

.header__profile-image {
  margin: 0 0 0 12px;
  height: 40px;
  width: 40px;
}

.header__date-location {
  margin: 0 0 0 24px;
  align-self: center;
}

.header__buttons {
  font-family: "Cabinet Grotesk Regular";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;

  border: none;
  background: transparent;
  padding: 0;
  margin-left: 20px;

  cursor: pointer;
}

/* @media screen and (max-width: 375px) {
  .header__wrapper {
    flex-direction: column;
    width: 100%;
  }

  .header__button-profile-wrapper {
    visibility: hidden;
  }

  .header__wrapper-button {
    visibility: visible;
  }

  .header__logo-date-location-wrapper {
    width: 100%;
  }
} */
